body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    background-color: #333;
}

.topnav {
    background-color: #949494;
    background: linear-gradient(154deg,rgba(48, 3, 74, 1) 0%, rgba(100, 9, 121, 1) 43%, rgba(102, 0, 255, 1) 100%);
    overflow: hidden;
}

.ruleslist {
    width: 1200px;
    border-radius: 13px;
    background-color: #252525;
    overflow: hidden;
    height:80%;
}
li {
    font-size: 20px;
    color: #ffffff;
}